[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/log"]
	path = lib/log
	url = https://github.com/aschuhardt/log.c.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/cofyc/argparse.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/luajit-cmake"]
	path = lib/luajit-cmake
	url = https://github.com/zhaozg/luajit-cmake.git
[submodule "lib/luajit"]
	path = lib/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
