[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/log"]
	path = lib/log
	url = https://github.com/aschuhardt/log.c.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/cofyc/argparse.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/simdcomp"]
	path = lib/simdcomp
	url = https://github.com/lemire/simdcomp.git
[submodule "lib/base64"]
	path = lib/base64
	url = https://github.com/aschuhardt/base64.git
